body {
    font-family: sans-serif;
    background-color: #333; /* Cor de fundo escura */
    color: #f0f0f0; /* Cor do texto clara */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #FFD700; /* Dourado para os títulos */
}

/* Novo estilo para o container da foto e dados */
.header-ficha {
    display: flex; /* Transforma o container em um flex container */
    align-items: flex-start; /* Alinha os itens pelo topo */
    gap: 20px; /* Adiciona um espaço de 20px entre os itens */
}

/* Estilos para a imagem do personagem */
#fotoPersonagem {
    width: 70px;
    height: 70px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border: 2px solid #555;
    border-radius: 10px;
}